/* generic classes*/
.clear{clear:both}
.hidden{display:none;}
.center{text-align:center !important}
.left{float:left}
.right{float:right}
.odd{ background: #F9F9F9}
.text-right{text-align:right !important}
.text-left{text-align:left !important}
.options {width: 70px;}
.relative{position:relative;}

.narrow{width:110px !important;}
.wide{width:300px !important;}
.full{width:100% !important;}
.inline{display:inline;}
.clean{padding:0 !important; margin:0 !important;}
.auto{margin:0 auto;}
.no_data, .no-data{text-align:center !important; font-style: italic;}
.strong{font-weight:bold}
.not-visible{position:absolute; left:-1000px; }
.vtop{vertical-align: top !important;}
.fixed{position:fixed;}


.m10{margin-bottom:10px;}
.m20{margin-bottom:20px;}
.m30{margin-bottom:30px;}
.m40{margin-bottom:40px;}


.r{color:red;}
.d{font-size: 11px; color:gray; margin-top:-10px; margin-bottom:10px;}
.hint{font-size: 11px; color:#999; margin-top:-10px; margin-bottom:10px;}
.sub{font-size: 12px;}
.err{ color: red; font-size:12px; font-weight: normal;}
.border_red{border-color: red !important;}
.err p{margin:0; padding:0;}


#loader{
	display:none; 
	height:100%; 
	text-align:center;  
	z-index:2000;  
	position: fixed;  
	left:0;  
	top:0;  
	width:100%;
	background: #E0E0E0 url(../img/ajax-loader.gif) center center no-repeat;
	opacity:0.4; 
	filter:alpha(opacity=40); 

}



/** bootstrap changes **/
.alert p{margin: 0 0 1px 0;}

.pagination ul > li > a, 
.pagination ul > li > span {
	padding: 0 10px;
	line-height: 25px;
}

h1{text-transform: capitalize;}

.counter{
	position:absolute;
	top:0;
	right:5%;
	color: #999;
}
.counter.warning{
	color: red;
}


.avatar_list{height:50px;}

/**** schedule calendar css ***/
#calendar th{ 
	text-align:center; 
	vertical-align: middle; 

		
}

#calendar td{
	width: 14.28%;
}

#calendar .day_name td{
	text-align: center;
	background: whiteSmoke;
}

#calendar .days td{
	height: 100px;	
}

/*
#calendar tr td:hover{
	background: #F1F1C1;
}*/

#calendar tr td:hover .add_event{
	display:inline-block;
}


#calendar .sch_block{
	display:block;
	position: relative;
	text-align: center;
	cursor: pointer;
}

#calendar .sch_block:hover{
	background: silver;
	border-radius: 3px;
}

#calendar .remove{
	display:none;
	top:0;
	right:0;
	position: absolute;

}

#calendar .sch_block:hover .remove{
	display: inline-block;
}

.extra_textarea{
	height: 20px;
	width: 80%;
}

.floatdiv {
float: left;
margin-right: 80px;
}

.floatdiv select {
	height: 149px;
}
.checkbox.left {
	float: left;
	margin-right: 20px;
	width: 120px;
}